body:has(#inicio:checked) .inicio.screen,
body:has(#definicoes:checked) .definicoes.screen {
  display: block;
}

main {
  padding: 0 16px;
  flex: 1;
}

main section {
  display: none;
}

.subtitulo {
  font-weight: 300;
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Inter", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  padding: 10px;
  padding-left: 25px;
}

.subtitulo::first-letter {
  font-size: x-large;
  font-weight: 400;
}

.section_main {
  margin: 0.5em 0 1em 0;
  line-height: 1.65;
  word-wrap: break-word;
  font-size: 100%;
  background: none;
  font-family: "Times New Roman", Times, serif;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
